*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
hr{
    border-color: #c8c8cb;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0;
    margin: 40px 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}
body{
  font-family: 'Lato', sans-serif, Arial,Helvetica;
  color: $read-color;
}
